<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FatherServlet</servlet-name>
        <servlet-class>servlet.father.FatherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADHome</servlet-name>
        <servlet-class>servlet.admin.ADHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeginNewMission</servlet-name>
        <servlet-class>servlet.ajax.BeginNewMission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save1MD</servlet-name>
        <servlet-class>servlet.ajax.Save1MD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save2DS</servlet-name>
        <servlet-class>servlet.ajax.Save2DS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet3PCO</servlet-name>
        <servlet-class>servlet.ajax.Servlet3PCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save3PCO</servlet-name>
        <servlet-class>servlet.ajax.Save3PCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save4COG</servlet-name>
        <servlet-class>servlet.ajax.Save4COG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save5TCOA</servlet-name>
        <servlet-class>servlet.ajax.Save5TCOA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save6CM</servlet-name>
        <servlet-class>servlet.ajax.Save6CM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveExcerpt</servlet-name>
        <servlet-class>servlet.ajax.SaveExcerpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSource</servlet-name>
        <servlet-class>servlet.ajax.SaveSource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANHome</servlet-name>
        <servlet-class>servlet.analyst.ANHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANMission1MD</servlet-name>
        <servlet-class>servlet.analyst.ANMission1MD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANMission2DS</servlet-name>
        <servlet-class>servlet.analyst.ANMission2DS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANMission3PCO</servlet-name>
        <servlet-class>servlet.analyst.ANMission3PCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANMission4COG</servlet-name>
        <servlet-class>servlet.analyst.ANMission4COG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANMission5TCOA</servlet-name>
        <servlet-class>servlet.analyst.ANMission5TCOA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANMission6CM</servlet-name>
        <servlet-class>servlet.analyst.ANMission6CM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANMission7MO</servlet-name>
        <servlet-class>servlet.analyst.ANMission7MO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANMissions</servlet-name>
        <servlet-class>servlet.analyst.ANMissions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANSources</servlet-name>
        <servlet-class>servlet.analyst.ANSources</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANSourceView</servlet-name>
        <servlet-class>servlet.analyst.ANSourceView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ENHome</servlet-name>
        <servlet-class>servlet.encoder.ENHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ENSourceView</servlet-name>
        <servlet-class>servlet.encoder.ENSourceView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FatherServlet</servlet-name>
        <url-pattern>/FatherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADHome</servlet-name>
        <url-pattern>/ADHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeginNewMission</servlet-name>
        <url-pattern>/BeginNewMission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save1MD</servlet-name>
        <url-pattern>/Save1MD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save2DS</servlet-name>
        <url-pattern>/Save2DS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet3PCO</servlet-name>
        <url-pattern>/Servlet3PCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save3PCO</servlet-name>
        <url-pattern>/Save3PCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save4COG</servlet-name>
        <url-pattern>/Save4COG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save5TCOA</servlet-name>
        <url-pattern>/Save5TCOA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save6CM</servlet-name>
        <url-pattern>/Save6CM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveExcerpt</servlet-name>
        <url-pattern>/SaveExcerpt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSource</servlet-name>
        <url-pattern>/SaveSource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANHome</servlet-name>
        <url-pattern>/ANHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANMission1MD</servlet-name>
        <url-pattern>/ANMission1MD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANMission2DS</servlet-name>
        <url-pattern>/ANMission2DS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANMission3PCO</servlet-name>
        <url-pattern>/ANMission3PCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANMission4COG</servlet-name>
        <url-pattern>/ANMission4COG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANMission5TCOA</servlet-name>
        <url-pattern>/ANMission5TCOA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANMission6CM</servlet-name>
        <url-pattern>/ANMission6CM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANMission7MO</servlet-name>
        <url-pattern>/ANMission7MO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANMissions</servlet-name>
        <url-pattern>/ANMissions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANSources</servlet-name>
        <url-pattern>/ANSources</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANSourceView</servlet-name>
        <url-pattern>/ANSourceView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ENHome</servlet-name>
        <url-pattern>/ENHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ENSourceView</servlet-name>
        <url-pattern>/ENSourceView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
